<form [formGroup]="filterForm" (submit)="changeFilter()">
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <ion-searchbar formControlName="search" animated debounce="500"></ion-searchbar>
            </ion-col>
            <ion-col size="auto">
                <ion-button color="light" (click)="toggleOptions()">
                    <ion-icon name="options"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="showOptions">
            <ion-col size="12" size-md="4">
                <ion-item>
                    <ion-label position="floating">Category</ion-label>
                    <ion-select formControlName="category" interface="action-sheet">
                        <ion-select-option value="">All categories</ion-select-option>
                        <ion-select-option *ngFor="let category of categories" [value]="category.id">
                            {{ category.name }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>

            <ion-col size="12" size-md="4">
                <ion-item>
                    <ion-label position="floating">Sex</ion-label>
                    <ion-select formControlName="sex" interface="action-sheet">
                        <ion-select-option value="">All sexes</ion-select-option>
                        <ion-select-option *ngFor="let sex of Sex | keyvalue" [value]="sex.value">
                            {{ sex.key }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>

            <ion-col size="12" size-md="4">
                <ion-item>
                    <ion-label position="floating">Country</ion-label>
                    <ion-select formControlName="country" interface="action-sheet">
                        <ion-select-option value="">All countries</ion-select-option>
                        <ion-select-option *ngFor="let country of countries" [value]="country.code">
                            {{ country.name }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>

