<ion-card  class="celebrity-card skeleton">
    <div>
        <div class="celebrity-card__image">
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </div>

        <div class="celebrity-card__content">
            <ion-card-header>
                <ion-card-title class="celebrity-card__name">
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </ion-card-title>
                <ion-card-subtitle class="celebrity-card__occupation">
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content class="celebrity-card__about ion-hide-sm-down">
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-card-content>
        </div>
    </div>
</ion-card>
