<ng-container *ngIf="celebrity$ | async as celebrity">
    <ion-header>
        <ion-toolbar>
            <ion-title>
                {{ celebrity.name }}
            </ion-title>

            <ion-buttons slot="start">
                <ion-back-button defaultHref="/celebrities">
                </ion-back-button>
            </ion-buttons>

            <ion-buttons slot="end">
                <ion-button [routerLink]="'/celebrities/edit/' + celebrity.slug">
                    <ion-icon name="create">
                    </ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
        <ion-grid>

            <div class="celebrity">

                <div class="celebrity__header">
                    <ion-avatar class="celebrity__image">
                        <img [src]="celebrity.imageUrl" />
                    </ion-avatar>

                    <div>
                        <div class="celebrity__name">
                            {{ celebrity.name }}

                            <ion-icon name="checkmark-circle" color="secondary" size="small"></ion-icon>
                        </div>
                        <div class="celebrity__occupation">
                            {{ celebrity.category }} > {{ celebrity.occupation }}
                        </div>
                    </div>
                </div>

                <ion-item-divider>
                </ion-item-divider>

                <div *ngIf="celebrity.social" class="celebrity__social">
                    <ng-container *ngFor="let social of celebrity.social | keyvalue">
                        <a
                            *ngIf="social.value"
                            [href]="social.value"
                            target="_blank"
                            class="social-button">
                            <ion-icon [class]="social.key" [name]="'logo-' + social.key">
                            </ion-icon>
                        </a>
                    </ng-container>
                </div>

                <p>
                    {{ celebrity.about }}
                    <a *ngIf="celebrity.wikiUrl" [href]="celebrity.wikiUrl" target="_blank">Wikipedia</a>
                </p>

                <div>

                    <div *ngIf="celebrity.birthdate || celebrity.birthplace">
                        <strong>Born: </strong>
                        <span>
                            <span *ngIf="celebrity.birthdate">{{ celebrity.birthdate | date: 'dd MMM yyyy' }}</span>
                            <span *ngIf="celebrity.birthplace">,
                                <a [href]="'https://www.google.com/maps/place/' + celebrity.birthplace" target="_blank" >
                                    {{ celebrity.birthplace }}
                                </a>
                            </span>
                        </span>
                    </div>

                    <div *ngIf="celebrity.height">
                        <strong>Height:</strong>
                        <span>
                            {{ celebrity.height | height }}
                        </span>
                    </div>

                    <div *ngIf="celebrity.partner">
                        <strong>Partner: </strong>
                        <span>
                            <a target="_blank" [href]="'https://www.google.com/search?q=' + celebrity.partner">
                                {{ celebrity.partner }}
                            </a>
                        </span>
                    </div>

                </div>

            </div>

        </ion-grid>

    </ion-content>
</ng-container>
