<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Vegan Celebrities
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row>

            <ion-col *ngFor="let celebrity of celebrities$ | async" size-xs="12" size-sm="4">

                <ion-card class="celebrity-card">
                    <ion-img class="celebrity-card__image" [src]="celebrity.imageUrl">
                    </ion-img>

                    <ion-card-header>
                        <ion-card-subtitle class="celebrity-card__occupation">
                            {{ celebrity.category }}
                            >
                            {{ celebrity.occupation }}
                        </ion-card-subtitle>

                        <ion-card-title class="celebrity-card__name">
                            {{ celebrity.name }}
                        </ion-card-title>
                    </ion-card-header>
                </ion-card>

            </ion-col>

        </ion-row>

    </ion-grid>
</ion-content>
