<ion-header>
    <ion-toolbar>
        <ion-title>
            Add celebrity
        </ion-title>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/celebrities">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <app-celebrity-form
        [loading]="createCelebrityLoading$ | async"
        [occupations]="occupations$ | async"
        (submitted)="createCelebrity($event)">
    </app-celebrity-form>

</ion-content>

