<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button routerLink="/celebrities/add">
                <ion-icon name="add">
                </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Vegan Celebrities
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <!-- <ion-row>
            <ion-col class="ion-padding">
                <app-celebrity-list-filter
                    (changed)="onFilterChanged($event)">
                </app-celebrity-list-filter>
            </ion-col>
        </ion-row> -->

        <ion-row class="ion-align-items-center">
            <ion-col>
                <ion-searchbar animated debounce="500" (ionChange)="onChange($event)"></ion-searchbar>
            </ion-col>
            <ion-col size="auto">
                <ion-button color="light" (click)="showFilters = !showFilters">
                    <ion-icon name="options"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="showFilters">

            <ion-col size="12" size-md="4">
                    <ion-item>
                            <ion-label>Gender</ion-label>
                            <ion-select interface="action-sheet">
                                <ion-select-option value="f">Female</ion-select-option>
                                <ion-select-option value="m">Male</ion-select-option>
                            </ion-select>
                        </ion-item>
            </ion-col>

            <ion-col size="12" size-md="4">
                    <ion-item>
                            <ion-label>Gender</ion-label>
                            <ion-select interface="action-sheet">
                                <ion-select-option value="f">Female</ion-select-option>
                                <ion-select-option value="m">Male</ion-select-option>
                            </ion-select>
                        </ion-item>
            </ion-col>

            <ion-col size="12" size-md="4">
                    <ion-item>
                            <ion-label>Gender</ion-label>
                            <ion-select interface="action-sheet">
                                <ion-select-option value="f">Female</ion-select-option>
                                <ion-select-option value="m">Male</ion-select-option>
                            </ion-select>
                        </ion-item>
            </ion-col>

        </ion-row>

        <ion-row *ngIf="loading$ | async; else loaded">
            <ion-col *ngFor="let skeleton of [1, 2, 3]" size="12">
                <app-celebrity-item-skeleton></app-celebrity-item-skeleton>
            </ion-col>
        </ion-row>

        <ng-template #loaded>
            <div *ngIf="celebrities && celebrities.length">
                <ion-row>
                    <ion-virtual-scroll [items]="celebrities" approxItemHeight="240px">
                        <ion-col size="12" *virtualItem="let celebrity;">

                            <app-celebrity-item
                                [celebrity]="celebrity">
                            </app-celebrity-item>

                        </ion-col>
                    </ion-virtual-scroll>
                </ion-row>

                <ion-infinite-scroll
                    threshold="100px"
                    (ionInfinite)="onInfiniteScroll($event)">
                    <ion-infinite-scroll-content>
                        <ion-col size="12">
                            <app-celebrity-item-skeleton>
                            </app-celebrity-item-skeleton>
                        </ion-col>
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
        </ng-template>

    </ion-grid>
</ion-content>
