<ion-card  class="celebrity-card">
    <div [routerLink]="'/celebrities/view/' + celebrity.slug">
        <ion-img class="celebrity-card__image" [src]="'https://vignette.wikia.nocookie.net/dcmovies/images/5/5c/Joaquin_Phoenix.jpg/revision/latest?cb=20180719151711'">
        </ion-img>

        <div class="celebrity-card__content">
            <ion-card-header>
                <ion-card-title class="celebrity-card__name">
                    {{ celebrity.name }}
                </ion-card-title>
                <ion-card-subtitle class="celebrity-card__occupation">
                    {{ celebrity.category.name }}
                    >
                    {{ celebrity.occupation.name }}
                </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content class="celebrity-card__about ion-hide-sm-down">
                {{ celebrity.about }}
            </ion-card-content>
        </div>
    </div>
</ion-card>
