<ng-container *ngIf="celebrity$ | async as celebrity">

    <ion-header>
        <ion-toolbar>
            <ion-title>
                Edit {{ celebrity.name }}
            </ion-title>

            <ion-buttons slot="start">
                <ion-back-button defaultHref="/celebrities/list">
                </ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>

        <app-celebrity-form
            [celebrity]="celebrity"
            [loading]="updateCelebrityLoading$ | async"
            [occupations]="occupations$ | async"
            (submitted)="updateCelebrity($event)">
        </app-celebrity-form>

    </ion-content>

</ng-container>


